<li class="list-group-item p-0" > 
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-start align-items-center">
      <%= image_tag recipe.get_tiny_cover_thumbnail, class: 'img-fluid rounded me-3', alt: 'menu', style:"max-height: 55px;" %>
      <%= recipe.name %>
    </div>

    <%= turbo_frame_tag "tft_meal_#{meal.id}_recipe_#{recipe.id}" do %>
      <% if meal.recipes.exists?(id: recipe.id) %>
        <%= button_to 'remove', remove_recipe_from_meal_path, data: { turbo_frame: "tft_meal_#{meal.id}_recipe_#{recipe.id}" }, params: { recipe_id: recipe.id, meal_id: meal.id }, class: 'btn link-primary' %>
      <% else %>
        <%= button_to 'add', add_recipe_to_meal_path, data: { turbo_frame: "tft_meal_#{meal.id}_recipe_#{recipe.id}" }, params: { recipe_id: recipe.id, meal_id: meal.id }, class: 'btn btn-link' %>
      <% end %>
    <% end %> 
  </div>
</li>
