<p style="color: green"><%= notice %></p>

<h1>Menus</h1>

<%= form_with(model: Menu.new) do |form| %>
  <div class="row">
    <div class="col-auto">
      <%= form.date_field :start_date, class: 'form-control col-auto' %>
    </div>
    <div class="col-auto">
      <%= form.date_field :end_date, class: 'form-control col-auto' %>
    </div>
    <div class="col-auto">
      <%= form.submit "Create Menu", class:'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render @menus %>

<h1 class="mt-2">History</h1>
<p>Quia sunt enim illum alias aut. Provident earum omnis explicabo iure. Ea qui eos quae. Laboriosam soluta nemo recusandae ipsa qui est consequatur earum. Libero ea laboriosam ea. Excepturi dolorum veritatis esse laboriosam nostrum.</p>
<p>Doloremque nemo nemo sed porro. Iste deserunt natus id qui quas. Aspernatur est eum ut rem qui velit. Delectus in ut qui et qui et.</p>
