<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.text_field :name, class: "form-control", placeholder: "My tasty new recipe" %>
  </div>
  
  <div class="form-group row mb-3">
    <div class="col-md-5">
      <%= label_tag :duration, "Preparation Time" %>
      <div class="input-group">
        <%= text_field_tag :prep_time_days, nil, class: "form-control", placeholder: "0", value: @recipe.prep_time_days %>
        <span class="input-group-text">Days</span>
        <%= text_field_tag :prep_time_hours, nil, class: "form-control", placeholder: "0", value: @recipe.prep_time_hours %>
        <span class="input-group-text">Hours</span>
        <%= text_field_tag :prep_time_minutes, nil, class: "form-control", placeholder: "0", value: @recipe.prep_time_minutes %>
        <span class="input-group-text">Minutes</span>
      </div>
    </div>
    <div class="col-md-5">
      <%= label_tag :duration, "Cooking Time" %>
      <div class="input-group">
        <%= text_field_tag :cooking_time_days, nil, class: "form-control", placeholder: "0", value: @recipe.cooking_time_days %>
        <span class="input-group-text">Days</span>
        <%= text_field_tag :cooking_time_hours, nil, class: "form-control", placeholder: "0", value: @recipe.cooking_time_hours %>
        <span class="input-group-text">Hours</span>
        <%= text_field_tag :cooking_time_minutes, nil, class: "form-control", placeholder: "0", value: @recipe.cooking_time_minutes %>
        <span class="input-group-text">Minutes</span>
      </div>
    </div>
    <div class="col-md-2">
      <%= form.label :servings %>
      <%= form.number_field :servings, class: 'form-control', placeholder: "0" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">Ingredient</div>
    <div class="col-sm-2">Quantity</div>
    <div class="col-sm-3">Unit</div>
  </div>

  <div id="recipeIngredients">
    <%= form.fields_for :recipe_ingredients do |recipe_ingredient_form| %>
      <%= render "recipe_ingredient_fields", f: recipe_ingredient_form %>
    <% end %>
    <div class='links mb-3'>
      <%= link_to_add_association 'add ingredient', form, :recipe_ingredients, wrap_object: Proc.new { |recipe_ingredient| recipe_ingredient.build_ingredient; recipe_ingredient }, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= form.label :tag_ids, 'Tags' %>
    <%= form.collection_select :tag_ids, Tag.all, :id, :name, {}, { multiple: true, class: 'form-control', data: {controller:"select"}} %>
    <%#= form.select :tag_ids, [], {}, { class: 'form-control tagging-input', id: 'diacritics' } %>
    <%#= form.select :tag_ids, Tag.all.pluck(:name, :id), {}, { multiple: true, class: 'form-control', data: {controller:"select"} } %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description, 'Instructions' %>
    <%= form.text_area :description, rows: 7, class: 'form-control', placeholder: "1. Chop the vegetables \n2. Fry them \n3. ..." %>
  </div>

  <div class="row">
    <div class="col-sm-4">Sources</div>
  </div>

  <div id="recipeSources">
    <%= form.fields_for :recipe_sources do |recipe_source_form| %>
      <%= render "recipe_source_fields", f: recipe_source_form %>
    <% end %>
    <div class='links mb-3'>
      <%= link_to_add_association 'add source', form, :recipe_sources, wrap_object: Proc.new { |recipe_source| recipe_source.build_source; recipe_source }, class: 'btn btn-primary' %>
    </div>
  </div>

  <% if recipe %>
    <%= link_to 'Cancel', recipe, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Cancel', recipes_path, class: 'btn btn-primary' %>
  <% end %>
  <%= form.submit nil, class: 'btn btn-primary' %>
  
<% end %>
