<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-3">
    <div class="col-12"><%= form.text_field :name, class: "form-control", placeholder: "Name" %></div>
  </div>
  
  <div class="form-group row mb-3">
    <div class="col-md-5">
      <%= label_tag :duration, "Preparation Time" %>
      <div class="input-group">
        <%= text_field_tag :prep_time_days, nil, class: "form-control", placeholder: "0", value: @recipe.prep_time_days %>
        <span class="input-group-text">Days</span>
        <%= text_field_tag :prep_time_hours, nil, class: "form-control", placeholder: "0", value: @recipe.prep_time_hours %>
        <span class="input-group-text">Hours</span>
        <%= text_field_tag :prep_time_minutes, nil, class: "form-control", placeholder: "0", value: @recipe.prep_time_minutes %>
        <span class="input-group-text">Minutes</span>
      </div>
    </div>
    <div class="col-md-5">
      <%= label_tag :duration, "Cooking Time" %>
      <div class="input-group">
        <%= text_field_tag :cooking_time_days, nil, class: "form-control", placeholder: "0", value: @recipe.cooking_time_days %>
        <span class="input-group-text">Days</span>
        <%= text_field_tag :cooking_time_hours, nil, class: "form-control", placeholder: "0", value: @recipe.cooking_time_hours %>
        <span class="input-group-text">Hours</span>
        <%= text_field_tag :cooking_time_minutes, nil, class: "form-control", placeholder: "0", value: @recipe.cooking_time_minutes %>
        <span class="input-group-text">Minutes</span>
      </div>
    </div>
    <div class="col-md-2">
      <%= form.label :servings %>
      <%= form.number_field :servings, class: 'form-control', placeholder: "0" %>
    </div>
  </div>

  <div class="selectize-control multi plugin-remove_button">
    <div class="selectize-input items not-full has-options has-items" data-ol-has-click-handler>
      <div class="item" data-value="1">test</div>
    </div>
  </div>
  <select multiple id="remove-button" class="selectize-control form-control input-sm mb-3">
    <option value="1" selected>Awesome</option>
    <option value="2" selected>Beast</option>
    <option value="3" selected>Compatible</option>
    <option value="4">Thomas Edison</option>
    <option value="5">Nikola</option>
    <option value="6">Selectize</option>
    <option value="7">Javascript</option>
  </select>

  <%# <div class="form-group row mb-3">
    <%= form.label :tags %>
    <%# <%= form.select :tags, current_recipe.tags, { multiple: true }, { %>
    <%# <%= form.select :tags, recipe.tags.pluck(:name), { multiple: true }, {
              class: "selectize form-control nested-values-select #{form.object.errors.messages.key?(:term_values) ? 'has-error' : ''}",
              multiple: true,
              data: {
                plugins: 'restore_on_backspace,remove_button',
              }
      } %>
  <%# </div> %>

  <%# <%= form.select :tag_ids, Tag.all, {}, { class: 'selectize' } %> 

  <div class="form-group row mb-3">
    <div class="col-12"><%= form.text_area :description, rows: 7, class: "form-control", placeholder: 'Description' %></div>
  </div>

  <%= form.submit nil, class: "btn btn-primary" %>
<% end %>

<%# <script type="text/javascript" src="selectize.js"></script>
  <link rel="stylesheet" type="text/css" href="selectize.css" />
  <script>
    $(function () {
      $("select").selectize({
        plugins: ["restore_on_backspace", "clear_button"],
        delimiter: " - ",
        persist: false,
        maxItems: null,
        valueField: "email",
        labelField: "name",
        searchField: ["name", "email"],
        options: [
          { email: "selectize@risadams.com", name: "Ris Adams" },
          { email: "someone@gmail.com", name: "Someone" },
          { email: "someone-else@yahoo.com", name: "Someone Else" },
        ],
      });
    });
</script> %>