<h1 class="mb-4">Recipes</h1>

<div class='d-flex mb-3'>
  <%= form_with(url: recipes_path, method: 'get', local: true, class: 'flex-grow-1') do |form| %>
    <div class="input-group">
      <%= form.text_field :search, placeholder: 'Cake, Salad, Egg, Watermelon, ...', class: 'form-control' %>
      <%= form.submit 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to "New recipe", new_recipe_path, class: "btn btn-primary pull-right ms-2" %>
</div>

<div class="row">
  <% @recipes.each do |recipe| %>
    <%= render 'card_recipe', recipe: recipe %>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
