
<div class="row">
  <div class="col-md-4 ms-auto mb-3">
    <div class="recipe-photos">
      <%= link_to recipe_images_path(@recipe) do %>
        <% unless @recipe.images.count > 1 %>
          <%= image_tag @recipe.get_cover_image, class: 'img-fluid rounded shadow-sm', alt: 'menu' %>
        <% else %>
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <% @recipe.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= image_tag image, class: 'img-fluid rounded shadow-sm', alt: 'menu' %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8 mb-3">
    <div class="mb-2">
      <%= link_to "Back", recipes_path, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary" %>
      <%= link_to "Destroy", @recipe, data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' }, class: 'btn btn-danger' %>
    </div>

    <h2 class="align-middle text-capitalize me-2" style="display: inline-block;"><%= @recipe.name %></h2>
    <% @recipe.tags.each do |tag| %>
      <span class="badge rounded-pill text-bg-primary mb-2"><%= tag.name %></span>
    <% end %>
    <ul class="list-group list-group-horizontal-sm mb-3">
      <% if @recipe.prep_time? %>
        <li class="list-group-item">Preparation Time : <strong><%= ChronicDuration.output(@recipe.prep_time * 60, :format => :long) %></strong></li>
      <% end %>
      <% if @recipe.cooking_time? %>
        <li class="list-group-item">Cooking Time : <strong><%= ChronicDuration.output(@recipe.cooking_time * 60, :format => :long) %></strong></li>
      <% end %>
      <% if @recipe.servings? %>
        <li class="list-group-item"> Servings : <strong><%= @recipe.servings %></strong></li>
      <% end %>
    </ul>
  </div>
  
</div>

<div class="row">
  <div class="col-md-4">
    <div class="row mb-2">
      <div class="col-12 d-flex">
        <hr class="flex-grow-1"><h6 class="mx-3">Ingredients</h6><hr class="flex-grow-1">
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <% @recipe.recipe_ingredients.each do |ri| %>
        <li class="list-group-item"><%= ri.display_ingredient_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-8">
    <div class="row mb-2">
      <div class="col-12 d-flex">
        <hr class="flex-grow-1"><h6 class="mx-3">Instructions</h6><hr class="flex-grow-1">
      </div>
    </div>

    <div style="text-align: justify;">
      <%= simple_format(@recipe.description) %>
    </div>
  </div>
</div>

<% if @recipe.sources.any? %>
  <div class="row mt-2 mb-2">
    <div class="col-12 d-flex">
      <hr class="flex-grow-1"><h6 class="mx-3">Sources</h6><hr class="flex-grow-1">
    </div>
  </div>
  <ul class="list-group">
    <% @recipe.recipe_sources.each do |rs| %>
      <li class="list-group-item">
        <% if rs.source.website? %>
          <%= rs.display_source %><%= link_to 'Go to original recipe', rs.details %>
        <% else %>
          <%= rs.display_source %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
