<div class="mb-2">
  <%= link_to "Back", recipes_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary" %>
  <%= link_to "Destroy", @recipe, data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' }, class: 'btn btn-danger' %>
</div>

<h2 class="align-middle text-capitalize me-2" style="display: inline-block;"><%= @recipe.name %></h2>
<% @recipe.tags.each do |tag| %>
  <span class="badge rounded-pill text-bg-primary mb-2"><%= tag.name %></span>
<% end %>

<div class="row mb-3">
  <div class="col-md-8 mb-3">
    <ul class="list-group list-group-horizontal-sm mb-3">
      <% if @recipe.prep_time? %>
        <li class="list-group-item">Preparation Time : <strong><%= ChronicDuration.output(@recipe.prep_time * 60, :format => :long) %></strong></li>
      <% end %>
      <% if @recipe.cooking_time? %>
        <li class="list-group-item">Cooking Time : <strong><%= ChronicDuration.output(@recipe.cooking_time * 60, :format => :long) %></strong></li>
      <% end %>
      <% if @recipe.servings? %>
        <li class="list-group-item"> Servings : <strong><%= @recipe.servings %></strong></li>
      <% end %>
    </ul>
    <ul class="list-group" style="width: 20rem;">
      <% @recipe.recipe_ingredients.each do |ri| %>
        <li class="list-group-item"><%= ri.display_ingredient_name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4 ms-auto">
    <div class="recipe-photos">
      <div class="photo-frame">
        <%= link_to recipe_images_path(@recipe) do %>
          <%= image_tag @recipe.get_cover_image, class: 'img-fluid rounded float-end shadow-sm', alt: 'menu' %>
        <% end %>
      </div>
      <div class="row photo-navigation">
        <%= form_with(model: @recipe) do |f| %>
          <div class="field mt-2" style="display: flex;">
            <% @recipe.images.each do |image| %>
              <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
            <% end %>
            <%= f.file_field :images, multiple: true, class: 'form-control me-2' %>
            <%= f.submit 'Upload', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 mb-2">
  <div class="col-12 d-flex">
    <hr class="flex-grow-1"><span class="mx-3">Instructions</span><hr class="flex-grow-1">
  </div>
</div>

<div style="text-align: justify;">
  <%= simple_format(@recipe.description) %>
</div>

<% if @recipe.sources.any? %>
  <div class="row mt-2 mb-2">
    <div class="col-12 d-flex">
      <hr class="flex-grow-1"><span class="mx-3">Sources</span><hr class="flex-grow-1">
    </div>
  </div>
  <ul class="list-group">
    <% @recipe.recipe_sources.each do |rs| %>
      <li class="list-group-item">
        <% if rs.source.website? %>
          <%= rs.display_source %><%= link_to 'Go to original recipe', rs.details %>
        <% else %>
          <%= rs.display_source %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
