<p style="color: green"><%= notice %></p>

<%= render @recipe %>
<h2><%= @recipe.name %></h2>
<p>
  <ul class="list-group list-group-horizontal-sm">
    <% if @recipe.prep_time? %>
      <li class="list-group-item">Preparation Time : <strong><%= ChronicDuration.output(@recipe.prep_time * 60, :format => :long) %></strong></li>
    <% end %>
    <% if @recipe.cooking_time? %>
      <li class="list-group-item">Cooking Time : <strong><%= ChronicDuration.output(@recipe.cooking_time * 60, :format => :long) %></strong></li>
    <% end %>
    <% if @recipe.servings? %>
      <li class="list-group-item"> Servings : <strong><%= @recipe.servings %></strong></li>
    <% end %>
  </ul>
</p>
<p><%= @recipe.description %></p>
<p>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
</p>
<p>
  <% @recipe.tags.each do |tag| %>
    <span class="badge rounded-pill text-bg-primary"><%= tag.name %></span>
  <% end %>
</p>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
