<p style="color: green"><%= notice %></p>

<%= render @recipe %>
<h2><%= @recipe.name %></h2>
<p><%= @recipe.description %></p>
<p>
  <% @recipe.tags.each do |tag| %>
    <span class="badge rounded-pill text-bg-primary"><%= tag.name %></span>
  <% end %>
</p>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
