<div class="d-flex" style="height: 170px;">
  <div class="card-text flex-fill" >
    <%= turbo_frame_tag "tft_meal_#{meal.id}" do %>
      <% if meal.recipes.count == 0 %>
        <div class="p-3">Empty meal</div>
      <%else %>
        <div id="carousel_meal_<%= meal.id %>" class="carousel slide" style="height: 100%;"> 
          <% if meal.recipes.count > 1 %>
            <div class="carousel-indicators" >
              <% (0..meal.recipes.count-1).each do |index| %>
                <button type="button" data-bs-target="#carousel_meal_<%= meal.id %>" data-bs-slide-to="<%=index%>" class="<%= 'active' if index == 0 %>" aria-current="true" aria-label="Slide <%= index+1%>"></button>
              <% end %>
            </div>
          <% end %>
          <div class="carousel-inner" style="height: inherit;">
            <% meal.recipes.each_with_index do |recipe, index| %>
              <%# link_to recipe do %>
                <div class="carousel-item <%= 'active' if index == 0 %>" style="height: inherit;">
                  <%= image_tag recipe.get_cover_image, class: 'menu-meal-carrousel img-fluid rounded shadow-sm', alt: 'menu', style: 'height: inherit;'%>
                  <div class="carousel-caption">
                    <%= recipe.name %>
                  </div>
                </div>
              <%# end %>
            <% end %>
          </div>
          <% if meal.recipes.count > 1 %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_meal_<%= meal.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_meal_<%= meal.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="position-relative">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary position-absolute shadow btn-sm end-0 m-2" style="z-index:3;" data-bs-toggle="modal" data-bs-target="#addRecipeModal<%=meal.id%>"><i class="fa fa-plus"></i></button>
    <!-- Modal -->
    <%= render 'add_recipes_to_meal_modal', meal: meal %>
  </div>
</div>
